@media only screen and (max-width: 1200px) {
	.hero__text-box {
		width: 100%;
		padding: 0 2%;
	}

	.row { padding: 0 2%; }
}

@media only screen and (max-width: 1023px) {
	body { font-size: 18px; }
	section { padding: 60px 0; }

	.features__description {
		width: 80%;
		margin-left: 10%;
	}

	.steps__col:first-child, 
	.steps__col:last-child { margin-top: 10px; }
	.steps__container { margin-bottom: 40px; }
	.steps__app-link { margin-top: 15px; }
	.steps__photo { width: 50%; }

	.cities .heading--tertiary { font-size: 1rem;	}
	.cities__feature { font-size: .9rem; }
	.cities__feature i { 
		width: 16px; 
		margin-right: 5px;
	}
	
	.plans__box { width: 100%; }
	.plans__price { font-size: 2rem; }

	.contact__form { width: 90%; }

}

@media only screen and (max-width: 767px) {
	body { font-size: 16px; }
	section { padding: 35px 0; }

	.row,
	.hero__text-box { padding: 0 4%; }
	.col { 
		width: 100%;
		margin: 0 0 4%;
	}

	.heading--primary { font-size: 1.8rem; }
	.heading--secondary { font-size: 1.5rem; }

	.hero__nav-list { display: none; }

	.mobile-nav-icon { display: inline-block; }
	.hero__nav-list { 
		float: left;
		margin-top: 25px;
		margin-left: 25px;
	}
	.hero__nav-list-item { display: block; }
	.hero__nav-list-item a:link,
	.hero__nav-list-item a:visited { 
		display: block;
		border: 0;
		padding: 5px 0;
		font-size: 1rem;
	}

	.hero__nav--fixed .hero__nav-list-item a:link,
	.hero__nav--fixed .hero__nav-list-item a:visited { padding: 5px 0; }
	.hero__nav--fixed .hero__nav-list { margin-top: 10px; }
	.hero__nav--fixed .mobile-nav-icon { margin-top: 5px; }
	.hero__nav--fixed .mobile-nav-icon i { color: #555; }


	.features { text-align: center; }
	.features__description { 
		width: 100%;
		margin-left: 0; 
	}

	.steps__col:first-child,
	.steps__app-links { text-align: center; }
	.steps__col:first-child,
	.steps__col:last-child { padding: 0 }
	.steps__photo {
		width: 30%;
	}
	.steps__num {
		width: 40px;
		height: 40px;
		padding-top: 1px;
		font-size: 1.3rem;
		margin-right: 15px;
	}
	.steps__descr {
		padding-top: 4px;
	}
	
	.plans__box {
		width: 80%;
		margin-left: 10%;
	}

	.contact__form { width: 100%; }
	.contact__form textarea { height: 70px; }
	.contact__submit { text-align: center; }
	.contact__submit .span-1-of-3 { display: none; }

	.contact { height: auto; }
	.contact__map { height: 250px; }
	.contact__form-box {
		position: relative;
		width: 100%;
		height: auto;
		padding-top: 30px;
	}

	.footer__box { width: 50%; }
	.footer__social-link i { font-size: 1.2rem; }

}

@media only screen and (max-width: 480px) {
	body { font-size: 14px; }
	section { padding: 25px 0; }


	.testimonials__author-img { height: 35px; }

	.plans__box {
		width: 90%;
		margin-left: 5%;
	}

	.footer__social-link i { font-size: 1.1rem; }
	.footer__copyright { font-size: .9rem; }
}