/*BASIC SETUP*/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-family: 'Lato', sans-serif;
	color: #555;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
}


/*REUSABLE COMPONENTS*/

.heading {
	font-weight: 300;
	text-transform: uppercase;
}

.heading--primary {
	color: #FFF;
	font-size: 2.4rem;
	word-spacing: 4px;
	margin-bottom: 20px;
	letter-spacing: 1px;
}

.heading--secondary {
	font-size: 1.8rem;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

.heading--secondary:after {
	content: "";
	display: block;
	height: 2px;
	width: 100px;
	background-color: #E67E22;
	margin: 30px auto 0;
}

.heading--tertiary {
	font-size: 1.1rem;
	margin-bottom: 15px;
}

.btn:link, 
.btn:visited {
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 200px;
	color: #FFF;
	transition: all .2s;
}

.btn--full:link, 
.btn--full:visited {
	background: #E67E22;
	border: 1px solid #E67E22;
}

.btn--shallow:link, 
.btn--shallow:visited {
	border: 1px solid #E67E22;
	color: #E67E22;
}

.btn:hover, 
.btn:active {
	background-color: #B34B00;
}

.btn--full:hover, 
.btn--full:active {
	border: 1px solid #B34B00;
}

.btn--shallow:hover, 
.btn--shallow:active {
	border: 1px solid #B34B00;
	color: #FFF;
}

.link:link,
.link:visited {
	color: #E67E22;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid #E67E22;
	transition: all .2s;
}

.link:hover,
.link:active {
	color: #555;
	border-bottom: 1px solid transparent;
}

.row {
	max-width: 1140px;
	margin: 0 auto;
}

section {
	padding: 80px 0;
}

.box {
	padding: 1%;
}


/*HEADER*/

.hero {
	background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(img/hero.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
}

.hero__logo {
	height: 100px;
	float: left;
	margin-top: 20px;
}

.hero__nav-list {
	float: right;
	list-style: none;
	margin-top: 55px;
}

.hero__nav-list-item {
	display: inline-block;
	margin-left: 40px;
}

.hero__nav-list-item a:link,
.hero__nav-list-item a:visited {
	padding: 8px 0;
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .9rem;
	border-bottom: 2px solid transparent;
	transition: all .2s;
}

.hero__nav-list-item a:hover,
.hero__nav-list-item a:active {
	border-bottom: 2px solid #E67E22;
}

.hero__text-box {
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


/*FEATURES SECTION*/

.features__description {
	line-height: 1.45rem;
	width: 70%;
	margin-left: 15%;
	margin-bottom: 30px;
}

.features__icon {
	font-size: 2.5rem;
	display: block;
	color: #E67E22;
	margin-bottom: 10px;
}

.features__text {
	font-size: .9rem;
	line-height: 1.45rem;
}


/*FAVORITE MEALS*/

.meals {
	padding: 0;
}

.meals__row {
	list-style: none;
	width: 100%;
	margin-bottom: 0;
}

.meals__row:after {
	content: "";
	display: table;
	clear: both;
}

.meals__item {
	display: block;
	float: left;
	width: 25%;
}

.meals__figure {
	width: 100%;
	overflow: hidden;
	background-color: #000;
}

.meals__img {
	opacity: .7;
	width: 100%;
	transform: scale(1.15);
	transition: all .5s;
}

.meals__img:hover {
	transform: scale(1.05);
	opacity: 1;
}


/*HOW-IT-WORKS*/

.steps {
	background-color: #F4F4F4;
}

.steps__col:first-child {
	text-align: right;
	padding-right: 3%;
	margin-top: 30px;
}

.steps__col:last-child {
	padding-left: 3%;
	margin-top: 70px;
}

.steps__photo {
	width: 40%;
}

.steps__container {
	margin-bottom: 50px;
}

.steps__num {
	color: #E67E22;
	border: 2px solid #E67E22;
	display: inline-block;
	border-radius: 50%;
	width: 55px;
	height: 55px;
	text-align: center;
	padding: 7px;
	float: left;
	font-size: 1.5rem;
	margin-right: 25px;
}

.steps__app-link {
	display: inline-block;
	height: 50px;
	margin-right: 10px;
	margin-top: 30px;
}


/*CITIES*/

.cities__photo {
	width: 100%;
	margin-bottom: 15px;
}

.cities__feature {
	margin-bottom: 5px;
}

.cities__feature i {
	display: inline-block;
	width: 30px;
	text-align: center;
	color: #E67E22;
	font-size: 1.2rem;
	margin-right: 10px;
	line-height: 1.2rem;
	vertical-align: middle;
	margin-top: -4px;
}


/*TESTIMONIALS*/

.testimonials {
	background-image: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)), url(img/back-customers.jpg);
	background-size: cover;
	color: #FFF;
	background-attachment: fixed;
}

.testimonials__quote {
	padding: 2%;
	font-style: italic;
	line-height: 1.45rem;
	margin-top: 40px;
	position: relative;
}

.testimonials__quote:before {
	content: "\201C";
	font-size: 5rem;
	display: block;
	position: absolute;
	top: -5px;
	left: -5px;
}

.testimonials__author {
	font-size: .9rem;
	margin-top: 25px;
	display: block;
}

.testimonials__author-img {
	height: 45px;
	border-radius: 50%;
	margin-right: 10px;
	vertical-align: middle;
}


/*SIGH-UP PRICES*/

.plans {
	background-color: #F4F4F4;
}

.plans__box {
	background-color: #FFF;
	border-radius: 5px;
	width: 90%;
	margin-left: 5%;
	box-shadow: 0 2px 2px #ECECEC;
}

.plans__box div {
	padding: 15px;
	border-bottom: 1px solid #E8E8E8;
}

.plans__name {
	background-color: #FCFCFC;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.plans__price {
	font-size: 3rem;
	margin-bottom: 10px;
	font-weight: 100;
	color: #E67E22;
}

.plans__price span {
	font-size: 1rem;
	font-weight: 300;
}

.plans__price-meal {
	font-size: .8rem;
}

.plans__features {
	list-style: none;
}

.plans__feature {
	padding: 5px 0;
}

.plans__feature i {
	margin-right: 10px;
	color: #E67E22;
}

.plans__box .plans__signup {
	text-align: center;
	border-bottom: 1px solid transparent;
}